
 <!-- <div ng-controller="main.freshrotten.searchRottenCtrl as searchCtrl"> -->
<ion-header-bar class="bar bar-subheader">

     <label class="item-input-wrapper item-input-inset">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="search" placeholder="Search" ng-model="searchCtrl.query" ng-change="searchCtrl.searchUpdated(searchCtrl.query)">
            <i class="icon ion-close placeholder-icon"></i>
    </label>
   <!--  <button class="button button-clear">
        X                
    </button> -->

        <!-- There is a nice ion-search directive in http://codepen.io/gastonbesada/pen/eqvJK should use it after basic implimentation-->
</ion-header-bar>

<!-- <ion-checkbox ng-model="isChecked">Checkbox Label</ion-checkbox>
-->
<div ng-if="searchCtrl.query">

    <div>   

        <ion-content class="has-subheader">
<!--         	<ion-checkbox ng-model="isChecked">Checkbox Label</ion-checkbox> -->
            <ion-list>
                <ion-item ng-repeat="movie in searchCtrl.movies track by movie.id">
                    <a class="item item-thumbnail-left" href="#" ui-sref="movie">
                        <img ng-src="{{movie.posters.thumbnail}}" />
                        <h2> {{movie.title}} </h2>
                        <p> {{movie.synopsis}} </p>             
                    </a>
                </ion-item>
            </ion-list>

     <!--        <div class="list">
                <div class="item my-item"
                  collection-repeat="movie in searchCtrl.movies"
                  collection-item-width="'100%'"
                  collection-item-height="'20%'"
                  ng-style="{height: 20}">

                    <img ng-src="{{movie.posters.thumbnail}}" />
                    <h2> {{movie.title}} </h2>
                    <p> {{movie.synopsis}} </p>    

                </div>
              </div> -->

            <ion-infinite-scroll on-infinite="searchCtrl.loadMore()" distance="30" ng-if="">
              </ion-infinite-scroll>
        <ion-content>
    </div>
</div>
