
<!-- the movie page url should be with the movie parameter -->


<!-- <ion-checkbox ng-model="isChecked">Checkbox Label</ion-checkbox>
 -->


<!-- <body ng-controller="movieCtrl as movieCtrl">
 -->

    <ion-content>
        <div class="item">
            <img ng-src="{{movieCtrl.movie.posters.thumbnail}}" />
            <h1> {{movieCtrl.movie.title}} </h1>
            <p>   
              <h1> Starring : </h1>
              <span ng-repeat="actor in movieCtrl.movie.abridged_cast">
                {{actor.name}} ,
              </span>
            </p>        
            <p> {{movieCtrl.movie.synopsis}} </p>             

            <h1> Reviews : </h1>
        </div>



        <ion-list>

            <ion-item ng-repeat="review in movieCtrl.reviews">
                <a class="item item-thumbnail-left" ng-href="{{review.links.review}}" target="_blank">
                    <!-- <img ng-src="{{review.posters.thumbnail}}" /> -->

                    <h2> {{$index}} {{review.critic}} </h2>
                    <p> {{review.quote}} </p>   
                    <p> {{review.links.review}} </p>          
                </a>
            </ion-item>
        </ion-list>

 
        <ion-infinite-scroll on-infinite="movieCtrl.loadMore()" distance="4" ng-if="">
        </ion-infinite-scroll>
    <ion-content>






<!-- </body>
</html> -->