
<!-- the movie page url should be with the movie parameter -->


<!-- <ion-checkbox ng-model="isChecked">Checkbox Label</ion-checkbox>
 -->


<!-- <body ng-controller="movieCtrl as movieCtrl">
 -->

    <ion-content>
        <div>
            <img ng-src="{{movieCtrl.movie.posters.thumbnail}}" />
            <h2> {{movieCtrl.movie.title}} </h2>
            <p> {{movieCtrl.movie.synopsis}} </p>             

        </div>

        <ion-list>
            <ion-item ng-repeat="review in movieCtrl.reviews">
                <a class="item item-thumbnail-left" ng-href="{{review.links.review}}" target="_blank">
                    <!-- <img ng-src="{{review.posters.thumbnail}}" /> -->

                    <h2> {{review.critic}} </h2>
                    <p> {{review.quote}} </p>   
                    <p> {{review.links.review}} </p>          
                </a>
            </ion-item>
        </ion-list>

 
        <ion-infinite-scroll on-infinite="movieCtrl.loadMore()" distance="4" ng-if="">
        </ion-infinite-scroll>
    <ion-content>






<!-- </body>
</html> -->