
<!-- the movie page url should be with the movie parameter -->


<!-- <ion-checkbox ng-model="isChecked">Checkbox Label</ion-checkbox>
 -->


<!-- <body ng-controller="movieCtrl as movieCtrl">
 -->

    <ion-content>
        <div>
            <img ng-src="{{movieCtrl.movie.posters.thumbnail}}" />
            <h2> {{movieCtrl.movie.title}} </h2>
            <p> {{movieCtrl.movie.synopsis}} </p>             

        </div>

        <ion-list>
            <ion-item ng-repeat="review in movieCtrl.reviews">
                <a class="item item-thumbnail-left" href="#">
                    <img ng-src="{{review.posters.thumbnail}}" />
                    <h2> {{review.user}} </h2>
                    <p> {{review.synopsis}} </p>             
                </a>
            </ion-item>
        </ion-list>

        <div class="list">
            <div class="item my-item"
              collection-repeat="movie in searchCtrl.movies"
              collection-item-width="'100%'"
              collection-item-height="'20%'"
              ng-style="{height: 20}">

                <img ng-src="{{movie.posters.thumbnail}}" />
                <h2> {{movie.title}} </h2>
                <p> {{movie.synopsis}} </p>    

            </div>
          </div>

        <ion-infinite-scroll on-infinite="movieCtrl.loadMore()" distance="30" ng-if="">
          </ion-infinite-scroll>
    <ion-content>






<!-- </body>
</html> -->