
<ion-view name="main">

	<div>

	   <ion-checkbox ng-model="isChecked">Checkbox Label</ion-checkbox>
	   <ion-checkbox ng-model="isChecked">Checkbox Label</ion-checkbox>
	   <ion-checkbox ng-model="isChecked">Checkbox Label</ion-checkbox>
	   <ion-checkbox ng-model="isChecked">Checkbox Label</ion-checkbox>

<!-- 	   <ion-nav-view name="search" animation="slide-left-right"></ion-nav-view>
	   <ion-nav-view name="movie" animation="slide-left-right"></ion-nav-view>
 -->	
	   <ui-view name="search" animation="slide-left-right"></ui-view>
	   <ui-view name="movie" animation="slide-left-right"></ui-view>


	</div>

</ion-view>